<a href="https://colab.research.google.com/github/ThrentPorca/CPEN21A-ECE-2-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop

In [6]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##### The break statement-with this break statement, we can stop the loop before it has looped through all the items

In [5]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [8]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

# Looping through String

In [10]:
for x in "Programming Logic and Design":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

L
o
g
i
c

a
n
d

D
e
s
i
g
n

# The range () function

In [11]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [12]:
for x in range(2,6):
  print(x)

2
3
4
5

In [13]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# While Loop

In [29]:
l=1
while l<=6:
  print(l)
  l+=1    #The same as l=l+1,#Assignment operator for addition

1
2
3
4
5
6

### The break statement

In [28]:
l = 1
while l<6:
  print(l)
  if l ==3:
    break
  else:
    l+=1

1
2
3

### The continue statemrnt

In [30]:
l=0
while l<6:
  l+=1
  if l==3:
    continue
  print(l)

1
2
4
5
6

### The else statement

In [32]:
l=1
while l<6:
    print(l)
    l+=1
else:
    print("l is no longer than 6")

1
2
3
4
5
l is no longer than 6

# Application 1

In [34]:
value = ["Value"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]

for x in value:
  for y in number:
    print(x,y)

l=0
while l<=10:
  print("Value",l)
  l+=1  #Assignment operator for addition

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10
Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

# Application 2

In [38]:
for x in range (2,1068):  #create a phyton program that displays number less than 20 but greater than 3
  if x>3 and x<20:
    print(x)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19